
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  width: 100%;
}


.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


header {
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  color: #fff;
}

.logo {
  background-color: #fff;
  color: blue;
  border-radius: 1em;
  padding: 1em;
}


#toggle-menu {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

li {
  list-style: none;
  cursor: pointer;
}

li a {
  color: #fff;
  text-decoration: none;
}


main {
  background-color: green;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.descripcion {
  width: 50%;
  margin: auto;
  color: #fff;
}


footer {
  background-color: yellow;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

footer li {
  list-style: none;
  color: #000;
  cursor: pointer;
}

footer a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 576px) {
  .menu-btn {
    display: block;
  }

  nav ul {
    display: none;
  }

  main {
    min-height: 100dvh;
  }

  
  #toggle-menu:checked ~ nav ul {
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-top: 1em;
    gap: 1em;
  }

  footer {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  nav ul {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  nav ul li {
    margin: 5px 0;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    margin: 0 10px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  body {
    font-size: 18px;
  }
  nav ul li {
    margin: 0 15px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
    display: flex;
  }
  .principal {
    flex: 3;
  }
  .sidebar {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
  }
}

@media (min-width: 1401px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
