* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  width: 100%;
}

header {
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  width: 100%;
}

main {
  background-color: green;
}

footer {
  background-color: yellow;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

li {
  list-style: none;
  cursor: pointer;
}

li {
  color: #fff;
  text-decoration: none;
}

.container {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.logo {
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
}

.descripcion {
  width: 50%;
  margin: auto;
}

.link-header {
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  nav ul {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
